html[data-theme='light'] {
    --mg-bg-color:             rgb(246, 241, 241);              // +

    --mg-primary-color:        #660a9f;
    --mg-secondary-color:      #cbaa26;
    --mg-success-color:        #22a063;
    --mg-warning-color:        #da7f2a;
    --mg-danger-color:         #bd3030;
    --mg-info-color:           #3055ea;
    --mg-light-color:          #ececee;
    --mg-dark-color:           #171324;
    
    --mg-font-size-g:           1em;                            // +

        --mg-table-bg:              rgb(40, 40, 40);              // +
    --mg-table-color:           rgb(168, 168, 168);           // +

    --mg-table-header-bg:       rgb(22, 22, 22);            // +
    --mg-table-footer-bg:       rgb(22, 22, 22);             // +
    --mg-table-col-bg:          rgb(254, 198, 13);              // +
    --mg-table-header-color:    rgb(255, 255, 255);             // +
    --mg-table-footer-color:    rgb(254, 198, 13);           // +
    --mg-table-col-color:       rgb(211, 211, 211);            // +

    --mg-table-striped-bg:      rgba(0, 0, 0, 0.2);
    --mg-stiped-col-effect-value: 3%;
    --mg-stiped-row-effect-value: 5%;


    --mg-table-border:                    0px solid;           // +       
    --mg-table-body-border:               1px solid;            // +
    --mg-table-body-row-border:           1px solid;            // +
    --mg-table-body-col-border:           1px solid;            // +
    --mg-table-header-border:             0.5px solid;          // +
    --mg-table-header-row-border:         2px solid;            // +
    --mg-table-header-col-border:         1px solid;            // +
    --mg-table-footer-border:             1px solid;            // +
    --mg-table-footer-row-border:         1px solid;            // +
    --mg-table-footer-col-border:         1px solid;            // +
        
    --mg-table-border-color:              rgb(196, 19, 96);  // +
    --mg-table-body-border-color:         #333;               // +
    --mg-table-body-row-border-color:     #333;               // +
    --mg-table-body-col-border-color:     #333;               // +
    --mg-table-header-border-color:       #333;               // +
    --mg-table-header-row-border-color:   #333;               // +
    --mg-table-header-col-border-color:   #333;               // +
    --mg-table-footer-border-color:       #333;               // +
    --mg-table-footer-row-border-color:   #333;               // +
    --mg-table-footer-col-border-color:   #333;               // +
           
    
}