html[data-theme='light'] {
    --mg-bg-color:                      rgb(255, 255, 255); // +
    --mg-text-color:                    #171324;
    --mg-text-p-color:                  #171324;
    
    --mg-footer-bg-color:               #f3f6f9;
    --mg-footer-text-color:             #171324;
    --mg-footer-text-p-color:           #171324;


    --mg-primary-color:                 #22a063;
    --mg-secondary-color:               #cbaa26;
    --mg-success-color:                 #22a063;
    --mg-warning-color:                 #da7f2a;
    --mg-danger-color:                  #bd3030;
    --mg-info-color:                    #4e6eed;
    --mg-light-color:                   #ececee;
    --mg-dark-color:                    #171324;
    
    --mg-font-size-g:                   1em;                  // +

    --mg-table-bg:                      rgb(40, 40, 40);    // +
    --mg-table-color:                   rgb(168, 168, 168); // +

    --mg-table-head-bg:                 rgb(22, 22, 22);    // +
    --mg-table-foot-bg:                 rgb(22, 22, 22);    // +
    --mg-table-head-color:              rgb(255, 255, 255); // +
    --mg-table-foot-color:              rgb(254, 198, 13);  // +

    --mg-table-1col-bg:                  rgba(254, 198, 13,0.8);  // +
    --mg-table-1col-color:               rgb(211, 211, 211); // +

    --mg-table-striped-bg:              rgba(0, 0, 0, 0.2); // +
    --mg-table-striped-color:           rgba(38, 254, 0, 0.2); // +


    --mg-table-border:                  0px solid;            // +       
    --mg-table-body-border:             3px solid;            // +
    --mg-table-body-row-border:         3px solid;            // +
    --mg-table-body-col-border:         3px solid;            // +
    --mg-table-head-border:             3.5px solid;          // +
    --mg-table-head-row-border:         3px solid;            // +
    --mg-table-head-col-border:         3px solid;            // +
    --mg-table-foot-border:             3px solid;            // +
    --mg-table-foot-row-border:         3px solid;            // +
    --mg-table-foot-col-border:         3px solid;            // +
        
    --mg-table-border-color:            rgb(196, 19, 96);  // +
    --mg-table-body-border-color:       #ff0;               // +
    --mg-table-body-row-border-color:   #ff0;               // +
    --mg-table-body-col-border-color:   #ff0;               // +
    --mg-table-head-border-color:       #ff0;               // +
    --mg-table-head-row-border-color:   #ff0;               // +
    --mg-table-head-col-border-color:   #ff0;               // +
    --mg-table-foot-border-color:       #ff0;               // +
    --mg-table-foot-row-border-color:   #ff0;               // +
    --mg-table-foot-col-border-color:   #ff0;               // +
           
}