html[data-theme='light'] {
    --bg-color:             rgb(241, 235, 235);

    --primary-color:        #231556;
    --secondary-color:      #231556;
    --warn-color:           #231556;
    --alert-color:          #231556;
    --info-color:           #231556;

}