$mediaQuery: (
	"lh":   " screen and (min-width : 1181px)", 	// Large screens and Up
	"md":   " screen and (max-width : 910px)", 		// middle screens and down
	"sd":   " screen and (max-width : 700px)", 		// Small screens and down
);

$col-count: 			12 !default;	  // when any grid system is adctive
$container-width: 		1220px !default;  // when any grid system is adctive
$gapInContainer: 		20px;			  // when any grid system is adctive
$gapInRow: 				10px;			  // when any grid system is adctive

$font-famyly-prime:     '"Noto Sans", sans-serif ';   
$font-famyly-second:    '"Roboto Mono", monospace';
$font-famyly-third:     '"Ubuntu", sans-serif';
// $font-famyly-headings:  Arial; //-
// $font-famyly-code:      Arial;//-


// Global Settings and helpers
$--new-components-add-status: true; // status - true/on, false/off, only, mq 
$--show-components-list: true;

// selectors styling
$mediaQueryPrefix: "-";
$mediaQueryPostfix: "";

$selectorPrefix: "";
$selectorPostfix: "";

$componentPrefix: "";
$componentPostfix: "";
