@mixin generateTypeOfAnimation($Args) {
  $isMq:  map-get($Args, $__MQ__);
  $data:  map-get($Args, $__DATA__);
  $group: map-get($Args, $__GROUP__);

  @if $group == false {
    @include globalChecks($Args);
  }

  @if $group == true {
    @each $key, $value in $data {
      $Args: map-merge($Args,(
          SecondaryElement: $key,
          $__CONTENT__: $value,
        ));
      @include globalChecks($Args);
    }
  }
}

@mixin formatGenTypeOfAnimation($Args) {
  $data:  ();
  $name:  map-get($Args, $__NAME__);
  $group: map-get($Args, $__GROUP__);

  @if $group == false {
    $data: map-get($Args, $__DATA__);
  } @else if $group == true {
    $data: map-get($Args, $__CONTENT__);
  }

  $Selector: formatSelector($name, $Args);
  @keyframes #{$Selector} {
    @each $key, $Value in $data {
      @if (index($reservedNames, $propName) == null) {
        #{$key} {
          @each $propName, $propValue in $Value {
            #{$propName}: #{$propValue};
          }
        }
      }
    }
  }
}
