@mixin generateTypeOfBlock($Args) {
  $data:      map-get($Args, $__DATA__); 
  
  $respValue:   map-get($Args, $__RES__);
  @each $propSelector, $propValue in $data {
    @if map-has-key($propValue, $__RES__) {
      $respValue: map-get($propValue, $__RES__);
    }
    $Args:      map-merge($Args, ($__SE__: $propSelector));
    $sel:       formatSelector($Args);

    
    $Args: map-merge($Args,(
      $__DATA__:          $propValue,
      $__RES__:           $respValue,
      $__SELECTOR__:      $sel,
      ));
    @include globalChecks($Args);
  } 
}

@mixin formatGenTypeOfBlock($Args) {
  $data: map-get($Args, $__DATA__);
  $Selector: map-get($Args, $__SELECTOR__);

  #{$Selector} {
    @each $propName, $propValue in $data {
      @if (index($reservedNames, $propName) == null) {
        #{$propName}: #{$propValue};
      }      
    }
  }
}


// .demo {
//   //   sel: $sel;
//   //   selType: $selType;
//   // }