@mixin generateTypeOfBlock($Args) {
  $data:    map-get($Args, $__DATA__);

  @each $currentProp, $currentValue in $data {
    $Args: map-merge($Args,(
        $__CURRENTPROP__:   $currentProp,
        $__CURRENTDATA__:   $currentValue
      ));
    @include globalChecks($currentValue, $Args);
  }
}

@mixin formatGenTypeOfBlock($Args) {
  $currentProp:   map-get($Args, $__CURRENTPROP__);
  $currentData:   map-get($Args, $__CURRENTDATA__);
  
  $Selector:      formatSelector($currentProp, $Args);

  #{$Selector} {
    @each $propName, $propValue in $currentData {
      @if $propName != $__RES__ {
        #{$propName}: #{$propValue};
      }
    }
  }
}
