@function BoostCore($DATA, $API_LIST: $COMPONENTS) {
  @each $compName, $compStatus in $DATA {
    @if $compStatus != false {
      @if map-has-key($API_LIST, $compName) {
        $resource:  map-get($API_LIST, $compName);
        $type:      map-get($resource, $__TYPE__);

        @if $type == $__BOOST__ {
          $toList:      map-get($resource, $__TO__);
          $boostedData: map-get($resource, $__DATA__);

          @each $listItem in $toList {
            @each $component, $compData in $API_LIST {
              @if $component == $listItem {
                $API_LIST: map-merge($API_LIST, $listItem, $__EXTEND__, $boostedData);
              }
            }
          }

        }
      }
    }
  }
  @return $API_LIST;
}