@mixin generateTypeOfComponent($Args) {
  $data: map-get($Args, $__DATA__);

  @each $key, $value in $data {
    $Selector:  formatSelector($key, $Args);
    $Args:      map-merge($Args, ( Selector: $Selector ));
    $Args:      map-merge($Args, ( Content: $value ));

    @include globalChecks($value, $Args)
  }
}

@mixin formatGenTypeOfComponent($Args) {
  $Selector: map-get($Args, Selector);
  $Content: map-get($Args, Content);

  #{$Selector} {
    @each $propName, $propValue in $Content {
      @if $propName != $__RES__ {
        #{$propName}: #{$propValue};
      }
    }
  }
}
