@mixin generateTypeOfComponent($Args) {
  $isMq: map-get($Args, $__MQ__);
  $data: map-get($Args, $__DATA__);

  @each $key, $value in $data {
    $Selector: formatSelector($key, $Args);
    $respHas: map-has-key($value, $__RES__);
    $respValue: map-get($value, $__RES__);
    @if ($isMq == "") {
      @if ($respHas != true) or ($respValue != only) {
        @include formatGenTypeOfComponent($Selector, $value);
      }
    } @else {
      @if ($respValue == true) or ($respValue == only) {
        @include formatGenTypeOfComponent($Selector, $value);
      } @else {
        @each $mqKey in $respValue {
          @if $mqKey == $isMq {
            @include formatGenTypeOfComponent($Selector, $value);
          }
        }
      }
    }
  }
}

@mixin formatGenTypeOfComponent($Selector, $properties_list) {
  #{$Selector} {
    @each $propName, $propValue in $properties_list {
      @if $propName != $__RES__ {
        #{$propName}: #{$propValue};
      }
    }
  }
}
