@mixin generateTypeOfCycle($Args) {
  $inputData:   map-get($Args, input);
  $start:       map-get($Args, $__START__);
  $end:         map-get($Args, $__END__);
  
  @for $i from $start through $end {
    $Args:      map-merge($Args,(cycleKey: $i));
    $Selector:  formatSelector(map-get($Args, $__SEL__), $Args);
    $Args:      map-merge($Args,($__SELECTOR__: $Selector));

    @include globalChecks($Args)
  }
}

@mixin formatGenTypeOfCycle($Args) {
  $Selector:    map-get($Args, $__SELECTOR__);
  $inputData:   map-get($Args, input);
  $i:           map-get($Args, cycleKey);

  #{$Selector} {
    @each $propName, $propValue in $inputData {
      @if (index($reservedNames, $propName) == null) {
        @if Expressions($propValue, $i) != null {
          #{ $propName}: Expressions($propValue, $i);
        } @else {
          #{ $propName}: #{$propValue};
        }
      }
    } 
  }
}
