@mixin generateTypeOfList($Args) {
  $sel:       formatSelector($Args);
  $data:      map-get($Args, $__DATA__); 

  $respValue:   map-get($Args, $__RES__);
  @each $propSelector, $propValue in $data {
    @if length($propValue) == 2 {
      $respValue: nth($propValue, 2);
    }

    $Args: map-merge($Args, ($__SE__: $propSelector));
    $sel:       formatSelector($Args);
    
    $Args: map-merge($Args,(
      $__DATA__:          nth($propValue, 1),
      $__RES__:           $respValue,
      $__SELECTOR__:      $sel,
      ));
    @include globalChecks($Args);
  } 
}

@mixin formatGenTypeOfList($Args) {
  $propValue:     map-get($Args, $__DATA__);
  $Selector:      map-get($Args, $__SELECTOR__);
  $propName:      map-get($Args, $__PROPPERTY__);

  #{$Selector} {
    #{$propName}: #{$propValue};
  }
}



