@mixin generateTypeOfList($Args) {
  $data: map-get($Args, $__DATA__);

  @each $currentProp, $currnetData in $data {
    $respValue: map-get($Args, $__RES__);

    @if length($currnetData) == 2 {
      $respValue: nth($currnetData, 2);
    }

    $Args: map-merge($Args,(
      $__CURRENTPROP__:   $currentProp,
      $__CURRENTDATA__:   nth($currnetData, 1),
      $__RES__:           $respValue
      ));
      
    @include globalChecks($Args);
  } 
}

@mixin formatGenTypeOfList($Args) {
  $propName:    map-get($Args, $__PROPPERTY__);
  $currentProp: map-get($Args, $__CURRENTPROP__);
  $currentData: map-get($Args, $__CURRENTDATA__);

  $Selector: formatSelector($currentProp, $Args);

  #{$Selector} {
    #{$propName}: #{$currentData};
  }
}



