@mixin generateTypeOfModule($Args) {
  $data:        map-get($Args, $__DATA__);
  $moduleName:  map-get($Args, $__MODULE__);

  @each $_, $props in $data {
    @if mixin-exists($moduleName) {
      $Args: map-merge($Args, ($__DATA__: $props));
      @include globalChecks($Args);
    }
  }
}
