@mixin generateTypeOfModule($Args) {
  $isMq: map-get($Args, $__MQ__);
  $data: map-get($Args, $__DATA__);
  $moduleName: map-get($Args, $__PROPPERTY__);

  @each $key, $value in $data {
    @if mixin-exists($moduleName) {
      $Args: map-merge($Args, ($__CONTENT__: $value));

      @include globalChecks($Args);
    }
  }
}
