@mixin generateTypeOfSimple($Args) {
  $prevSel:           map-get($Args, $__SELECTOR__);

  @each $elementName, $elementValue in $Args {  
    @if type-of($elementValue) == "map" {
      $type:          map-get($elementValue, $__TYPE__);
      @if $type == null {
        $type: "simple";
      }

      $selType: map-get($elementValue, $__SELTYPE__);
      $selType: checkSelType($selType, $elementName, "c");

      $elementValue:  map-merge($elementValue, (
        $__MQ__:      map-get($Args, $__MQ__),
        $__TYPE__:    $type,
        $__SEL__:     $elementName,
        $__SELTYPE__: $selType,
      ));

      $Selector: $prevSel + formatSelector($elementValue);
      
      $elementValue:  map-merge($elementValue, (
        $__SELECTOR__:   $Selector,
      ));
      
      @include globalChecks($elementValue);
      @include generateTypeOfSimple($elementValue);
    }
  }
}

@mixin formatGenTypeOfSimple($Args) {
  $Selector: map-get($Args, $__SELECTOR__);
  #{$Selector} {
    @each $propName, $propValue in $Args {
      @if (type-of($propValue) != "map") {
        @if (index($reservedNames, $propName) == null) {
          #{$propName}: #{$propValue};
        }     
      }
    }
  }
}