@mixin generateTypeOfSimple($Args) {
  $prevSel:           map-get($Args, $__SELECTOR__);

  @each $propSelector, $propValue in $Args {  
    @if type-of($propValue) == "map" {
      $type:          map-get($propValue, $__TYPE__);
      @if $type == null { $type: $__SIMPLE__ }

      $selType: map-get($propValue, $__SELTYPE__);
      $selType: checkSelType($selType, $propSelector, "c");

      $propValue:  map-merge($propValue, (
        $__MQ__:      map-get($Args, $__MQ__),
        $__TYPE__:    $type,
        $__SEL__:     $propSelector,
        $__SELTYPE__: $selType,
      ));

      $Selector: $prevSel + formatSelector($propValue);
      
      $propValue:  map-merge($propValue, (
        $__SELECTOR__:   $Selector,
      ));
      
      @include globalChecks($propValue);
      @include generateTypeOfSimple($propValue);
    }
  }
}

@mixin formatGenTypeOfSimple($Args) {
  $Selector: map-get($Args, $__SELECTOR__);
  
  #{$Selector} {
    @each $propName, $propValue in $Args {
      @if (type-of($propValue) != "map") {
        @if (index($reservedNames, $propName) == null) {
          #{$propName}: #{$propValue};
        }     
      }
    }
  }
}