$COMPONENTS: map-merge($COMPONENTS, $BUTTONS_COMPS);

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"] {
  background: var(--mg-primary-color);
  display: inline;
  border: 0;
  margin: 0;
  padding: 1rem 2rem;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  outline: 0;
  font-family: inherit;
  user-select: none;
  -webkit-user-drag: none;

  cursor: pointer;
  &:disabled,
  &.disabled {
    background-color: grey;
    color: rgb(75, 75, 75);
    cursor: default;
  }
  &:hover:not(:disabled, .disabled) {
    background: var(--mg-info-color);
    // background-color: orangered ;
  }
}
