button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"],
.btn {
  display: inline;
  border-radius: var(--mg-default-btn-border-radius);
  border-width: var(--mg-default-btn-border-width);
  border-style: var(--mg-default-btn-border-style);
  background-color: var(--mg-default-btn-bg);
  border-color: var(--mg-default-btn-border-color);
  color: var(--mg-default-btn-color);
  padding: var(--mg-default-btn-padding);
  margin: var(--mg-default-btn-margin);
  font-size: var(--mg-default-btn-font-size);
  font-weight: normal;
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
  outline: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  &:disabled,
  &.disabled {
    background-color: grey;
    color: rgb(75, 75, 75);
    cursor: default;
  }
  &:hover:not(:disabled, .disabled) {
    color: var(--mg-light-color);
    border-color: var(--mg-default-btn-bg-hover);
    background-color: var(--mg-default-btn-bg-hover);
    // background-color: orangered ;
  }
}
