$custom-buttons-props-list: (
  "custom-btn-borders": (
    atr: "border-radius",
    tag: "btn-shape", 
    props: (
      "round":        0.65rem,
      "circle":       5rem,
      "square":       0px,
      "hard-rounded": "1.5rem / 3rem",
    ),
  ),
  "custom-btn-paddings": (
    atr: "padding",
    tag: "btn-size", 
    props: (
      "xl":           1rem 1rem,
      "x":            2rem 2rem,
      "xs":           3rem 3rem,
      "s":            3rem 3rem,
      "l":            3rem 3rem,
      "m":            3rem 3rem,
    ),
  ),
  "custom-btn-bg": (
    atr: "background-color",
    tag: "btn-bg", 
    props: (
      "primary":       "var(--mg-success-color) !important",
      "primary:hover": "var(--mg-danger-color) !important",
    ),
  ),
);
