// ======================== Edit props ========================================
// ======================== comment useless properities =============================
$flex-wrap: (
  "nowrap": 	nowrap,
  "wrap": 		wrap,
  "wrap-r": 	wrap-reverse,
);


$flex-direction: (
  "row": 		row,
  "col": 		column,
  "row-r": 		row-reverse,
  "col-r": 		column-reverse,
);

// ======================== "Content position" Props =============================

$justify-content: (
  "center": 	center,
  "fs": 		flex-start,
  "fe": 		flex-end,
  "str": 		stretch,
  "sb": 		space-between,
  "sa": 		space-around,
  "se": 		space-evenly,
);

$align-items: (
  "center": 	center,
  "fs": 		flex-start,
  "fe": 		flex-end,
  "str": 		stretch,
  "bl": 		baseline,
);

$align-self: (
  "center": 	center,
  "fs": 		flex-start,
  "fe": 		flex-end,
  "str": 		stretch,
  "bl": 		baseline,
  "auto": 		auto,
);

$align-content: (
  "center": 	center,
  "fs": 		flex-start,
  "fe": 		flex-end,
  "bl": 		baseline,
  "sb": 		space-between,
  "sa": 		space-around,
  "se": 		space-evenly,
);

// ======================== "Flex" Props =============================

$flex-shrink: (
  "1":    1,
  "1n5":  1.5,
  "2": 	  2,
  "m1":   -1,
);

$flex-grow: (
  "1": 	  1,
  "1n5":  1.5,
  "2":    2,
  "m1":   -1,
);

$flex-basis: (
  "auto":  	auto,
  "base":  	100px,
  "bigger": 250px,
);

// ======================== "Gap" Props =============================

$custom-gap: (
  "1": 	  1rem 1rem,
  "2": 	  2rem 2rem,
  "3": 	  3rem 3rem,
  "4": 	  2rem 2rem,
  "5": 	  3rem 3rem,
);

// ======================== Order Props =============================

$flex-order: (
  "1": 	  1,
  "2": 	  2,
  "3": 	  3,
  "m1":   -1,
);

// other global props 
// $text-align: (
//   "left": 	  	left,
//   "right": 	  	right,
//   "center":   	center,
//   "justify":  	justify,
// );
