$GRID_FLEX_COMPS: (
  "dev-tools": (
    type: boost,
    to: ("grid-main", "grid-cols"),
    data: (
      background: "rgba(149, 16, 251, 0.05)",
      border: "1px dashed rgba(149, 16, 251, 0.25)",
      padding: 20px,
    ),
  ),
  "grid-normal": (
    sel: "main, aside, footer, header, section, .section",
    extend: (
      display: block,
      margin: 0,
    ),
  ),
  "grid-main": (
    type: block,
    extend: (
      display: flex,
      flex-direction: row,
      align-items: flex-start,
      flex-wrap: wrap,
      overflow: hidden,
      width: 100%,
    ),
    data: (
      "container": (

        gap: $gapInContainer,
      ),
      "row": (
        gap: $gapInRow,
      ),
    ),
  ),
  // "grid-cols": (
  //   type: cycle,
  //   sel: "col",
  //   start: 1,
  //   end: $col-count,
  //   responsible: true,
  //   extend: (
  //     overflow: hidden,
  //   ),
  //   data: (
  //     width: "gridWidth",
  //     height: 100px,
  //   ),
  // ),
  "grid-cols": (
    type: cycle,
    sel: "col",
    prop: "width",
    start: 1,
    end: $col-count,
    responsible: true,
    exp: "gridWidth",
    extend: (
      overflow: hidden,
    ),
  ),
  "grid-offset-left": (
    type: cycle,
    sel: "offset-l",
    prop: "margin-left",
    start: 0,
    end: $col-count - 1,
    responsible: true,
    exp: "offsetWidth",
  ),
  "grid-offset-right": (
    type: cycle,
    sel: "offset-r",
    prop: "margin-right",
    start: 0,
    end: $col-count - 1,
    responsible: true,
    exp: "offsetWidth",
  ),
  "custom-grid-basics": (
    type: block,
    data: (
      "d-none": (
        responsible: true,
        display: "none !important",
      ),
      "v-none": (
        responsible: true,
        visibility: "hidden !important",
      ),
    ),
  ),
);
