$custom-grid-flex-props-list: (
  "custom-gap": (
    atr: "gap",
    tag: "gc", //gap custom
    props: (
      "1":    (1rem 1rem,      true,      true),
      "2":    (2rem 2rem,      true,      true),
      "3":    (3rem 3rem,      true,      true),
      "4":    (3rem 3rem,      true,      true),
    ),
  ),
);
