@function checkCurrentData($name, $value) {
  @if type-of($value) == "map" {
    $sel:           map-get($value, $__SEL__);
    $selType:       map-get($value, $__SELTYPE__);
     
    @if ($sel == null) {
      $sel: $name;
      $value:   map-merge($value,($__SEL__: $name));
    }
  
    @if ($selType == null) {
      @if (index($reserved_HTML_TAGS, $sel) != null) {
        $selType: g;
        $value: map-merge($value,($__SELTYPE__: $selType));
      }
      @if (index($reserved_PSEUDO_CLASSES, $sel) != null)  {
        $selType: pc;
        $value: map-merge($value,($__SELTYPE__: $selType));
      }
    }
  }
    @return $value;
  }