@function checkSpaces($Args) {
  $st: "";
  $selType: map-get($Args, $__SELTYPE__);
  @if ($selType == null) {
    $st: "";
  }
  @if ($selType == g) {
    $st: " ";
  }
  @if ($selType == pc) {
    $st: "";
  }
  @if ($selType == d) {
    $st: " ";
  }
  @return $st;
}
