@function checkSelType($dataArr, $defaultName) {
  @if type-of($dataArr) == "map" {
    $sel:           map-get($dataArr, $__SEL__);
    $selType:       map-get($dataArr, $__SELTYPE__);
     
    @if ($selType == null) {
      $selType: $defaultName;
      @if (index($reserved_HTML_TAGS, $sel) != null) {
        $selType: "g";
      }
      @if (index($reserved_PSEUDO_CLASSES, $sel) != null)  {
        $selType: "pc";
      }
    }

    @return $selType;
  }

  }