@function formatSelector($key_prop, $Args, $i: 0) {
  $result: "";
  // import arguments
  $sel:     map-get($Args, $__SEL__);
  $isMq:    map-get($Args, $__MQ__);
  $selType: map-get($Args, $__SELTYPE__);
  $type:    map-get($Args, $__TYPE__);
  $status:  map-get($Args, $__STATUS__);

  // formating vars
  $-COMP-:  customizeSelector($key_prop, $componentPrefix, $componentPostfix);
  $-SEL-:   customizeSelector($sel, $selectorPrefix, $selectorPostfix);
  $-MQ-:    customizeSelector($isMq, $mediaQueryPrefix, $mediaQueryPostfix);
  $_:       " ";
  $-div-:   "-";
  $-dot-:   ".";

  // Format vars
  $selTypeMainMsel:       glueSelectorName($-SEL-, $-MQ-);
  $selTypeMain:           glueSelectorName($-dot-, $-SEL-, $-MQ-, $-div-, $-COMP-);
  $selTypeGlobal:         glueSelectorName($-SEL-, $-MQ-,  $_, $-COMP-);
  $selTypeGdot:           glueSelectorName($-SEL-, $-MQ-,  $-dot-, $-COMP-);
  $selTypeCompMQ:         glueSelectorName($-SEL-, $_, $-COMP-);
  $selTypeCompMQSameSel:  glueSelectorName($-COMP-);
  $selTypeOnlyProp:       glueSelectorName($-dot-, $-COMP-);
  
  $selTypeNULL:           glueSelectorName($-dot-, $-COMP-);

  $selTypeCycleBase:      glueSelectorName($-dot-, $-SEL-, $-MQ-, $-div-, $i);
  // Rules
  // if selector and component name are equal
  @if ($sel == $key_prop) {
    // for expample table with g must be table, not table table {...}  
    @if  ($selType == "g") {
      $result: $selTypeCompMQSameSel;
    } @else {
      $result: $selTypeMainMsel;
    }
  }
  @if $type == $__CYCLE__ {
    $result:   $selTypeCycleBase;
  }
  // if we used flag -g (not global)
  @else if $selType == "-g" {
    $result: $selTypeGdot;
  }

  // if we used flag g (global)
  @else if $selType == "g" {
    @if $type == $__COMP__ {
      $result: $selTypeCompMQ;
    } @else {
      $result: $selTypeGlobal;
    }
  }
  
 // if no selection is specified
  @else if ($sel == "") {
    $result: $selTypeNULL;
  }

  // default selector styling
  @else {
    $result: $selTypeMain;
  }
  @return $result;
}