@function formatSelector($key_prop, $Args) {
  $result:    "";
  $sel:       map-get($Args, $__SEL__);
  $selType:   map-get($Args, $__SELTYPE__);
  $MQ:        map-get($Args, $__MQ__);
  $type:      map-get($Args, $__TYPE__);
  $i_cycle:   map-get($Args, $__CYCLEKEY__);
  $sE:        map-get($Args, $__SE__);


  // formating vars
  $-COMP-:    customizeSelector($key_prop, $componentPrefix, $componentPostfix);
  $-SEL-:     customizeSelector($sel, $selectorPrefix, $selectorPostfix);
  $-MQ-:      customizeSelector($MQ, $mediaQueryPrefix, $mediaQueryPostfix);
  $-div-: "-";
  $-dot-: ".";
  $-shr-: " #";

  @if $-MQ- == "-" {
    $-MQ-: ""
  }

  // Rules
  @if ($type == $__SIMPLE__) {
    $Args: map-merge($Args, (
      "c":            glueSelectorName(".", $-SEL-),
      "t":            glueSelectorName($-SEL-),
      "pc":           glueSelectorName(":", $-SEL-),
      "pe":           glueSelectorName("::", $-SEL-),
      "id":           glueSelectorName("#", $-SEL-),
      $__DEFAULT__:   glueSelectorName($-dot- , $-SEL-, $-MQ-),
    ));
    $result: checkFormatForSelector($Args);
  }

  // Cycle done
  @if ($type == $__CYCLE__) {
    $Args: map-merge($Args, (
      "prd":          glueSelectorName($-dot-, $-SEL-, $i_cycle), 
      "pr-d":         glueSelectorName($-dot-, $-SEL-, $-div-, $i_cycle),
      "prd+":         glueSelectorName($-dot-, $-SEL-, $i_cycle, $-MQ-), 
      "pr-d+":        glueSelectorName($-dot-, $-SEL-, $-div-, $i_cycle, $-MQ-),

      "prt":          glueSelectorName($-SEL-, $i_cycle), 
      "pr-t":         glueSelectorName($-SEL-, $-div-, $i_cycle),

      "prid":         glueSelectorName("#", $-SEL-, $i_cycle), 
      "pr-id":        glueSelectorName("#", $-SEL-, $-div-, $i_cycle),

      $__DEFAULT__:   glueSelectorName($-dot-, $-SEL-, $-div-, $i_cycle, $-MQ-),
      ));
    $result: checkFormatForSelector($Args);
  }

  // Block Components done
  @if ($type == $__BLOCK__) or ($type == $__LIST__) {
    $-dotS-: ".";
    $-MQS-: $-MQ-;
    $-shrS-: $-shr-;
    @if $-SEL- == "" {
      $-div-: "";
      $-dotS-: "";
      $-MQS-: "";
      $-shrS-: "";
    }
      $Args: map-merge($Args, (
        "prc":            glueSelectorName($-dotS-, $-SEL-, $-div-, $sE, $-MQ-),
        "prt":            glueSelectorName($-SEL-,  $-dot-, $sE,    $-MQ-),
        "prid":           glueSelectorName($-shrS-, $-SEL-, $-div-, $sE, $-MQ-),

        "prd":            glueSelectorName($-dot-,  $-SEL-, $sE),
        "prd+":           glueSelectorName($-dot-,  $-SEL-, $sE, $-MQ-), 
        "pr-d":           glueSelectorName($-dot-,  $-SEL-, $-div-, $sE),
        "pr-d+":          glueSelectorName($-dot-,  $-SEL-, $-div-, $sE, $-MQ-),

        "pr-c":           glueSelectorName($-dotS-, $-SEL-, $-MQS-, $-dot-, $sE, $-MQ-),
        "pr-c-c":         glueSelectorName($-dotS-, $-SEL-, $-dot-, $sE),
        "pr-c-c+":        glueSelectorName($-dotS-, $-SEL-, $-dot-, $sE, $-MQ-),
        "pr-c+-c":        glueSelectorName($-dotS-, $-SEL-, $-MQS-, $-dot-, $sE),
        "pr-c+-c+":       glueSelectorName($-dotS-, $-SEL-, $-MQS-, $-dot-, $sE, $-MQ-),

        "pr-c-p":         glueSelectorName($-dotS-, $-SEL-, ":",  $sE),
        "pr-c-t":         glueSelectorName($-dotS-, $-SEL-, " ",  $sE),
        "pr-c-id":        glueSelectorName($-dotS-, $-SEL-, $-shr-, $sE),
        "pr-c+-p":        glueSelectorName($-dotS-, $-SEL-, $-MQS-, ":",  $sE),
        "pr-c+-t":        glueSelectorName($-dotS-, $-SEL-, $-MQS-, " ",  $sE),
        "pr-c+-id":       glueSelectorName($-dotS-, $-SEL-, $-MQS-, $-shr-, $sE),

        "pr-t":           glueSelectorName($-SEL-, $-dot-, $sE, $-MQ-),
        "pr-t-c":         glueSelectorName($-SEL-, $-dot-, $sE),
        "pr-t-c+":        glueSelectorName($-SEL-, $-dot-, $sE, $-MQ-),
        "pr-t-p":         glueSelectorName($-SEL-, ":", $sE),
        "pr-t-t":         glueSelectorName($-SEL-,  " ", $sE),
        "pr-t-id":        glueSelectorName($-SEL-, $-shr-, $sE),

        "pr-id":          glueSelectorName($-shrS-, $-SEL-, $-dot-, $sE, $-MQ-),
        "pr-id-c":        glueSelectorName($-shrS-, $-SEL-, $-dot-, $sE),
        "pr-id-c+":       glueSelectorName($-shrS-, $-SEL-, $-dot-, $sE, $-MQ-),
        "pr-id-p":        glueSelectorName($-shrS-, $-SEL-, ":",  $sE),
        "pr-id-t":        glueSelectorName($-shrS-, $-SEL-, " ",  $sE),
        "pr-id-id":       glueSelectorName($-shrS-, $-SEL-, $-shr-, $sE),

        $__DEFAULT__:     glueSelectorName($-dot-,  $-SEL-, $-div-, $sE, $-MQ-),
      ));
      $result: checkFormatForSelector($Args);
  
  }

  // Animation formating
  @if ($type == $__ANIMATION__) {
    @if $sE == null {
      $-div-: ""
    }
    $Args: map-merge($Args, (
      "prd":          glueSelectorName($-SEL-, $sE), 
      "prd+":         glueSelectorName($-SEL-, $sE, $-MQ-), 
      "pr-d":         glueSelectorName($-SEL-, $-div- ,$sE),
      "pr-d+":        glueSelectorName($-SEL-, $-div- ,$sE, $-MQ-),

      $__DEFAULT__:     glueSelectorName($-COMP-, $-div- ,$sE),
    ));
    $result: checkFormatForSelector($Args);
  }

  @return $result;
}