@function getSpace($selType, $Args) {
  $type: map-get($Args, $__TYPE__);
  
  $space: ""; 
  // For simple components
  @if $type == $__SIMPLE__ {
    @if ($selType == null) {
      $space: "";
    }
    @if ($selType == g) {
      $space: " ";
    }
    @if ($selType == pc) {
      $space: "";
    }
    @if ($selType == d) {
      $space: " ";
    }
  }
  @return $space;
}
