$col-count:             12 !default;
$container-width:       1220px !default;
$gapInContainer:        20px;
$gapInRow:              10px;


@import "./grid-flex-props";
@import "./grid-flex-core";




@include grid-structure(true);
//_mixins.scss
// Custom Props From "./grid-flex-props"
@include onePropFromArray("fw-", "flex-wrap", $flex-wrap, true);
@include onePropFromArray("fd-", "flex-direction", $flex-direction, true);
@include onePropFromArray("jc-", "justify-content", $justify-content, true);
@include onePropFromArray("as-", "align-self", $align-self, true);
@include onePropFromArray("ai-", "align-items", $align-items, true);
@include onePropFromArray("ac-", "align-content", $align-content, true);

.gap1{
  gap: 40px;
}

.gap2{
  gap: 50px;
}
