@import "tests";


@mixin finalRes($title, $param, $attr...) {
  .#{styleName($attr...)} {
    #{$title}: #{$param};
  }
}

@mixin typeOfPropsGen($data, $tag, $title, $extend, $isMq) {
  @each $key, $prop in $data {
    $styleName: ($isMq, $tag, "-", $key); // style name themeplate

    @if (type-of($prop) == "string") {
      @if ($isMq == "") {
        @include finalRes($title, $prop, $styleName...);
      }
    }

    @if (type-of($prop) == "list") {
      @if ($isMq == "") {
        @if (length($prop) > 1) and (nth($prop, 2) != only) {
          @include finalRes($title, nth($prop, 1), $styleName...);
        }
      } @else {
        @if (nth($prop, 2) == true) or (nth($prop, 2) == only) {
          @include finalRes($title, nth($prop, 1), $styleName...);
        }
      }
    }
  }
}

@mixin typeOfComponentGen($data, $tag, $isMq) {
  @each $key, $value in $data {
    $respIS: map-has-key($value, "responsible");
    $respValue: map-get($value, "responsible");

    @if ($isMq == "") {
      @if ($respIS != true) or ($respValue != only) {
        .#{$isMq}#{$tag}-#{$key} {
          @each $propName, $propValue in $value {
            @if $propName != "responsible" {
              #{$propName}: #{$propValue};
            }
          }
        }
      }
    } @else {
      @if ($respValue == true) or ($respValue == only) {
        .#{$isMq}#{$tag}-#{$key} {
          @each $propName, $propValue in $value {
            @if $propName != "responsible" {
              #{$propName}: #{$propValue};
            }
          }
        }
      }
    }
  }
}

@mixin typeOfExtendedProps($data, $tag, $extend, $isMq) {
  $extendedTags: ();

  @each $value, $param in $data {
    @if $value != null {
      $styleName: (".", $isMq, $tag, "-", $value);
      $extendedTags: append($extendedTags, styleName($styleName...), "comma");
    }
  }

  #{$extendedTags} {
    @each $key, $val in $extend {
      #{$key}: #{$val};
    }
  }
}

@mixin PropsGenCore($myProps, $MQKey: "", $API_LIST: $CSS_PROPERTIES_LIST) {
  $MQKey: checkMQ($MQKey);
  @each $listItem in $myProps {
    @if map-has-key($API_LIST, $listItem) {
      $arr: map-get($API_LIST, $listItem);
      $type: map-get($arr, "type");
      $tag: getAttribute($arr, "tag", $listItem);
      $atr: getAttribute($arr, "atr", $listItem);
      $props: map-get($arr, "props");
      $extend: map-get($arr, "extend");



      @if (map-has-key($arr, "type") == false) or ($type == "property") {
        @include typeOfExtendedProps($props, $tag, $extend, $MQKey);
        @include typeOfPropsGen($props, $tag, $atr, $extend, $MQKey);
      }

      @if ($type == "component") {
        @include typeOfExtendedProps($props, $tag, $extend, $MQKey);
        @include typeOfComponentGen($props, $tag, $MQKey);
      }
    }
  }
}

@mixin Combiner($data) {
  @include PropsGenCore(map-keys($data));
  @each $key, $value in $mediaQuery {
    @media #{$value} {
      @include PropsGenCore(map-keys($data), $key);
    }
  }
}
