// high level
$__TYPE__:        "type";
$__SEL__:         "sel";
$__SELTYPE__:     "seltype";
$__DATA__:        "data";
$__PROPPERTY__:   "prop";
$__EXTEND__:      "extend";

$__LIST__:        "list";
$__COMPONENT__:   "component";
// params
$__RES__:         "responsible";

// other  short names
$__MQ__:          "isMq";