$CSS_PROPERTIES_LIST: (
  "justify-content": (
    type: list,
    prop: "justify-content",
    sel: "jc",
    data: (
      "center":     (center, true),
      "fs":         (flex-start, true),
      "fe":         (flex-end, true),
      "str":        (stretch, true),
      "sb":         (space-between, true),
      "sa":         (space-around, true),
      "se":         (space-evenly, true),
    ),
  ),
  "align-items": (
    type: list,
    prop: "align-items",
    sel: "ai",
    data: (
      "center":     (center, true),
      "fs":         (flex-start, true),
      "fe":         (flex-end, true),
      "str":        (stretch, true),
      "bl":         (baseline, true),
    ),
  ),
  "align-self": (
    type: list,
    prop: "align-self",
    sel: "as",
    data: (
      "center":     (center, true),
      "fs":         (flex-start, true),
      "fe":         (flex-end, true),
      "str":        (stretch, true),
      "bl":         (baseline, true),
      "auto":       (auto, true),
    ),
  ),
  "align-content": (
    type: list,
    prop: "align-content",
    sel: "ac",
    data: (
      "center":     (center, true),
      "fs":         (flex-start, true),
      "fe":         (flex-end, true),
      "bl":         (baseline, true),
      "sb":         (space-between, true),
      "sa":         (space-around, true),
      "se":         (space-evenly, true),
    ),
  ),
  "flex-wrap": (
    type: list,
    prop: "flex-wrap",
    sel: "fw",
    data: (
      "nowrap":     (nowrap, true),
      "wrap":       (wrap, true),
      "wrap-r":     (wrap-reverse, true),
    ),
  ),
  "flex-direction": (
    type: list,
    prop: "flex-direction",
    sel: "fd",
    data: (
      "row":        (row, true),
      "col":        (column, true),
      "row-r":      (row-reverse, true),
      "col-r":      (column-reverse, true),
      ),
  ),
  "flex-shrink": (
    type: list,
    prop: "flex-shrink",
    sel: "shrink",
    data: (
      "1":          (1, true),
      "1n5":        (1.5, true),
      "2":          (2, true),
      "m1":         (-1, true),
      ),
  ),
  "flex-grow": (
    type: list,
    prop: "flex-grow",
    sel: "grow",
    data: (
      "1":          (1, true),
      "1n5":        (1.5, true),
      "2":          (2, true),
      "-1":         (-1, true),
      ),
  ),
  
  "flex-basis": (
    type: list,
    prop: "flex-basis",
    sel: "fb",
    data: (
      "auto":       (auto, true),
      "25":         (25%, true),
      "50":         (50%, true),
      "75":         (75%, true),
      "100":        (100%, true),
      ),
  ),
  "gap": (
    type: list,
    prop: "gap",
    sel: "g",
    data: (
      "10":         (10px, true),
      "20":         (20px, true),
      "30":         (30px, true),
      "40":         (40px, true),
      "50":         (50px, true),
      ),
  ),
  "order": (
    type: list,
    prop: "order",
    sel: "order",
    data: (
      "m1":         (-1, true),
      "1":          (1, true),
      "2":          (2, true),
      "3":          (3, true),
      "4":          (4, true),
      "5":          (5, true),
      "6":          (6, true),
      "7":          (7, true),
      "8":          (8, true),
      "9":          (9, true),
      "10":         (10, true),
      "11":         (11, true),
      "12":         (12, true),
      ),
  ),
  "margin": (
    type: list,
    prop: "margin",
    sel: "m",
    data: (
      "auto":       (auto, only),
      "25":         (25%, only),
      "50":         (50%, only),
      "75":         (75%, false),
      "100":        (100%, true),
      ),
  ),
  "padding": (
    type: list,
    prop: "padding",
    sel: "p",
    data: (
      "auto":       (auto, true),
      "25":         (25%, true),
      "50":         (50%, true),
      "75":         (75%, true),
      "100":        (100%, true),
      ),
  ),
  "opacity": (
    type: list,
    prop: "opacity",
    sel: "o",
    data: (
      "0":          (0, true),
      "25":         (0.25, true),
      "50":         (0.5, true),
      "75":         (0.75, true),
      "100":        (1, true),
      ),
  ),
  "word-break": ( 
    // type: list,
    prop: "word-break",
    sel: "wb",
    // seltype: id,
    extend: (
      mq: true,
      color: grey,
    ),
    data: (
      "norm":    normal,
      "ba":  break-all,
      "ka":   keep-all,
      "bw": break-word,
      ),
  ),
  "text-align": (
    type: list,
    prop: "text-align",
    sel: "ta",
    data: (
      "left":       (left, true),
      "right":      (right, true),
      "center":     (center, true),
      "justify":    (justify, true),
      ),
  ),
  "vertical-align": (
    type: list,
    prop: "vertical-align",
    sel: "va",
    data: (
      "bs":         (baseline, true),
      "sub":        (sub, true),
      "super":      (super, true),
      "text-top":   (text-top, true),
      "text-bottom":(text-bottom, true),
      "middle":     (middle, true),
      "top":        (top, true),
      "bottom":     (bottom, true),
      "10p":        (10%, true),
      "25p":        (25%, true),
      "50p":        (50%, true),
      "75p":        (75%, true),
      "100p":       (100%, true),
      "05r":        (0.5rem, true),
      "1r":         (1rem, true),
      "15r":        (15rem, true),
      ),
  ),
  
);



