//     shortName    Property          Active      MediaActive
$CSS_PROPERTIES_LIST_CUSTOM: (
  "custom-padding": (
    sel: "div.doc", 
    text-align: center,
    text-transform: upper,
    "caption": (
      sel: caption,
      border: 1px,
      color: green,
    ),
    "thead": (
      sel: caption,
      border: 1px,
      color: green,
    ),
  ),
  // "custom-padding": (
  //   sel: "div.doc", 
  //   data: (
  //     color: black,
  //     text-alighn: center,
  //     sel: "table",
  //     data: (
  //       font-size: 32px,
  //       sel: "hover",
  //       data: (
  //         color: white,
  //         text-transform: upper,
  //         sel: "dsd",
  //         seltype: "d",
  //         data: (
  //           word-wrap: greeen,
  //           test: google,
  //         ),
  //       ),
  //     ),
  //   ),
  // ),
 );

