
$flex-wrap:        "fw-",    "flex-wrap",        ;
$flex-direction:   "fd-",    "flex-direction",   ;
$justify-content:  "jc-",    "justify-content",  ;
$align-items:      "ai-",    "align-items",      ;
$align-self:       "as-",    "align-self",       ;
$align-content:    "ac-",    "align-content",    ;
$flex-shrink:      "fs-",    "flex-shrink",      ;
$flex-grow:        "fg-",    "flex-grow",        ;
$flex-basis:       "fb-",    "flex-basis",       ;
$gap:              "g-",     "gap",              ;
$order:            "o-",     "order",            ;