//     shortName    Property          Active      MediaActive
$CSS_PROPERTIES_LIST_CUSTOM: (
  "custom-padding": (
    type: list,
    prop: "padding",
    sel: "pc", //gap custom
    data: (
      "1":          1rem 1rem,
      "2":          2rem 2rem,
      "3":          3rem 3rem,
      "4":          3rem 3rem,
    ),
  ),
  "custom-margin": (
    type: list,
    prop: "margin",
    sel: "mc", 
    data: (
      "1":          1rem 1rem, 
      "2":          2rem 2rem,
      "3":          3rem 3rem,
      "4":          3rem 3rem,
    ),
  ),
  // "animation-single": (
  //   type: animation,
  //   name: "SupernSi",
  //   responsible: (lh),
  //   data: (
  //     "from": (
  //       position: 50px,
  //       width: 100px,
  //     ),
  //     "to": (
  //       position: 150px,
  //       width: 500px,
  //     ),
  //   ),
  // ),
  // "animation-group": (
  //   type: animation,
  //   group: true,
  //   name: "slide",
  //   data: (
  //     "in": (
  //       // responsible: true,
  //       "from": (
  //         position: 50px,
  //         width: 100px,
  //       ),
  //       "to": (
  //         position: 150px,
  //         width: 500px,
  //       ),
  //     ),
  //     "out": (
  //       // responsible: only,
  //       "from": (
  //         left: 100px,
  //         top: 150px,
  //       ),
  //       "to": (
  //         left: 150px,
  //         top: 200px,
  //       ),
  //     ),
  //   ),
  // ),
 );

