//     shortName    Property          Active      MediaActive
$CSS_PROPERTIES_LIST_CUSTOM: (
  "custom-padding": (

    "table": (
      border: 1px,
      color: green,
      
      "tbody": (
        border-radius: "8px",
        position: stycky,
        border: 1px,
        color: green,   
        "classic": (
          border-radius: "4px",
          position: releative,
          // mq: only,
        ),
      ),
      "newlink": (
        border: "4px solid red",
        position: releative,
      ),
    ),
  ),
  // "custom-padding": (
  //   sel: "div", 
  //   data: (
  //     color: black,
  //     text-alighn: center,
  //     sel: "table",
  //     data: (
  //       font-size: 32px,
  //       sel: "hover",
  //       data: (
  //         color: white,
  //         text-transform: upper,
  //         sel: "dsd",
  //         seltype: "d",
  //         data: (
  //           word-wrap: greeen,
  //           test: google,
  //         ),
  //       ),
  //     ),
  //   ),
  // ),
 );

