@import "tests";

// special mixin for generating special params for any
@mixin onePropFromArray($styleName, $propsName, $array: "", $isMQ: "") {
  $mqLabel: checkMQ($isMQ);
  @each $key, $props in $array {
    .#{$mqLabel}#{$styleName}-#{$key} {
      #{$propsName}: $props;
    }
  }
}

@mixin PropsGenCore(
  $listOfMyProps,
  $mediaTrue: "",
  $API_LIST: $CSS_PROPERTIES_LIST
) {
  $isMq: checkMQ($mediaTrue);
  @each $listItem in $listOfMyProps {
    @if map-has-key($API_LIST, $listItem) {
      $currentMap:        map-get($API_LIST, $listItem);
      
      $propTag:           map-get($currentMap, "tag");
      $propTitle:         map-get($currentMap, "atr");
      $propsListfromItem: map-get($currentMap, "props");
      
      @if map-has-key($currentMap, "tag") == false {
        $propTag: $listItem;
      }

      @if map-has-key($currentMap, "atr") == false {
        $propTitle: $listItem;
      }

      @each $propsKey, $propsParam in $propsListfromItem {
        @if ($isMq == "") {
          @if (nth($propsParam, 2) == true) {
            .#{$propTag}-#{$propsKey} {
              #{$propTitle}: #{nth($propsParam, 1)};
            }
          }
        } @else {
          @if (nth($propsParam, 3) == true) {
            .#{$isMq}#{$propTag}-#{$propsKey} {
              #{$propTitle}: #{nth($propsParam, 1)};
            }
          }
        }
      }
    }
  }
}

@mixin GlobalPropsGen($basicList) {
  @include PropsGenCore(map-keys($basicList));
     @each $mqKey, $mqProp in $mediaQuery {
      @media #{$mqProp} {
        @each $propName, $isMediaTrue in $basicList {
        @if $isMediaTrue == true {
          @include PropsGenCore($propName, $mqKey);
        }
      }
    }
  }
}


@mixin PropsGeneratorFromList($basicList, $mediaList) {
  $isMQ: "";
  @include PropsGenCore($basicList);
  @each $mqKey, $mqProp in $mediaQuery {
    @media #{$mqProp} {
      @include PropsGenCore($mediaList, $mqKey);
    }
  }
}