// Search for components in project
$CSS_PROPERTIES_LIST: map-merge($CSS_PROPERTIES_LIST, $CSS_PROPERTIES_LIST_CUSTOM);

$ALL_COMPONENTS_LIST: ();
@each $component, $_ in $CSS_PROPERTIES_LIST {
  $ALL_COMPONENTS_LIST: map-merge(
    $ALL_COMPONENTS_LIST,
    (
      $component: $--new-components-add-status,
    )
  );
}

// Final check components and statuses
$ALL_COMPONENTS_LIST: map-merge($ALL_COMPONENTS_LIST, $UserComponentsList);

// Morphing Magic Combiner
@include Combiner($ALL_COMPONENTS_LIST);

@if $--show-components-list == true {
  LIST-OF-COMPONENTS {
    @each $key, $val in $ALL_COMPONENTS_LIST {
      #{$val}: #{$key};
    }
  }
}
