$COMPONENTS: map-merge($COMPONENTS, $CSS_PROPERTIES_LIST);
$COMPONENTS: map-merge($COMPONENTS, $CSS_PROPERTIES_LIST_CUSTOM);

$ALL_COMPONENTS_LIST: ();
@each $component, $_ in $COMPONENTS {
  $ALL_COMPONENTS_LIST: map-merge(
    $ALL_COMPONENTS_LIST,
    (
      $component: $--new-components-add-status,
    )
  );
}

// Final check components and statuses
$ALL_COMPONENTS_LIST: map-merge($ALL_COMPONENTS_LIST, $USER_COMPONENTS_LIST);

// Morphing Magic Combiner
@include Combiner($ALL_COMPONENTS_LIST);

// Helpfull instruments and settings
@if $--show-components-list == true {
  LIST-OF-COMPONENTS {
    @each $key, $val in $ALL_COMPONENTS_LIST {
      #{"/*"}: "'#{$key}': #{$val},"#{"*/"};
    }
  }
}
