// Search for components in project
$ALL_COMPONENTS_LIST: ();
@each $component, $_ in $CSS_PROPERTIES_LIST {
  $ALL_COMPONENTS_LIST: map-merge(
    $ALL_COMPONENTS_LIST,($component: $new-components-added-with));
}
// Final check components and statuses 
$ALL_COMPONENTS_LIST: map-merge($ALL_COMPONENTS_LIST, $UserComponentsList);

// Start Morphing Styles
@include Combiner($ALL_COMPONENTS_LIST);
