$col-count:         12 !default;

$container-width:   1220px !default;
$gapInContainer:    20px;
$gapInRow:          10px;

@import "bin/functions";
@import "bin/props";
@import "bin/core";


// Comment props you don`t need
@include columnProps(true, true); // col, colFlex
@include offsetProps(true, true); // offset-l, offset-r

// Add your custom props to "./grid-flex-props" and create rule
@include onePropFromArray("fw", "flex-wrap",       $flex-wrap);
@include onePropFromArray("fd", "flex-direction",  $flex-direction);
@include onePropFromArray("jc", "justify-content", $justify-content);
@include onePropFromArray("ai", "align-items",     $align-items);
@include onePropFromArray("as", "align-self",      $align-self);
@include onePropFromArray("ac", "align-content",   $align-content);
@include onePropFromArray("fs", "flex-shrink",     $flex-shrink);
@include onePropFromArray("fg", "flex-grow",       $flex-grow);
@include onePropFromArray("fb", "flex-basis",      $flex-basis);
@include onePropFromArray("g",  "gap",             $custom-gap);
@include onePropFromArray("o",  "order",           $flex-order);


@each $mqKey, $mqProp in $mediaQuery { @media #{$mqProp} {

    @include columnProps(true, true, $mqKey); 
    @include offsetProps(true, true, $mqKey);

    @include onePropFromArray("fw", "flex-wrap",       $flex-wrap,       $mqKey);
    @include onePropFromArray("fd", "flex-direction",  $flex-direction,  $mqKey);
    @include onePropFromArray("jc", "justify-content", $justify-content, $mqKey);
    @include onePropFromArray("ai", "align-items",     $align-items,     $mqKey);
    @include onePropFromArray("as", "align-self",      $align-self,      $mqKey);
    @include onePropFromArray("ac", "align-content",   $align-content,   $mqKey);
    @include onePropFromArray("fs", "flex-shrink",     $flex-shrink,     $mqKey);
    @include onePropFromArray("fg", "flex-grow",       $flex-grow,       $mqKey);
    @include onePropFromArray("fb", "flex-basis",      $flex-basis,      $mqKey);
    @include onePropFromArray("g",  "gap",             $custom-gap,      $mqKey);
    @include onePropFromArray("o",  "order",           $flex-order,      $mqKey);


} }
