$COMPONENTS:
  map-merge($COMPONENTS, (
    "display-visibility": (
      mq: true,
        data: (
          "d-flex": (
            display: flex,
          ),
          "d-none": (
            display: "none !important",
          ),
          "v-none": (
            visibility: "hidden !important",
          ),
          "d-show": (
            display: "none !important",
          ),
          "v-show": (
            visibility: "hidden !important",
          ),
        ),
    ),
  )
);