//----------------- Table Properies ---------------------
// add or remove settings to customize your version of table
$TABLE_LIST_CUSTOM: (
  "custom-table-fonts": (
    type: component,
    sel: "table",
    seltype: "g",
    extend: (
      responsible: false,
      line-height: 100%,
    ),
    data: (
      "tabs": (
        responsible: false,
        font-size: 1.25em,
        text-decoration: none,
      ),
      "th, td": (
        font-weight: 400,
        padding: 0.75rem,
      ),
      "thead, thead td, thead th": (
        font-size: 1em,
        font-weight: bolder,
      ),
      "tfoot, tfoot td, tfoot th": (
        font-size: 1em,
        font-weight: bolder,
      ),
    ),
  ),
);

