*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // background-color: $global-bg;
  // font-family: $primary-font, $secondary-font, $reserved-font;
  // font-size: $global-font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
