@mixin font-settings($font-category) {
  font-size: map-get($font-properties, $font-category, "size");
  font-weight: map-get($font-properties, $font-category, "weight");
  line-height: map-get($font-properties, $font-category, "lineH");
}

%border-color-main {
  border: 2px solid;
  border-color: green;
}

%table-global {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0px;
  text-align: left;
  width: 100%;
}
.table-wrapper {
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

// Table basic properties
table {
  @include font-settings("Text-body-th");
  @extend %table-global;
  @extend %border-color-main;
  background: $table-main-bg;
  color: $table-body-color;
  tr {
    @extend %border-color-main;
    color: $table-body-color;
  }
  th,
  td {
    @extend %border-color-main;
  }
  th {
    @include font-settings("Text-body-th");
  }
  td {
    @include font-settings("Text-body-td");
  }
  // Table Head Global
  thead {
    @extend %border-color-main;
    @include font-settings("Text-header-td");

    tr {
      color: $table-header-color;
      @extend %border-color-main;
    }
    th,
    td {
      text-decoration: none;
      @extend %border-color-main;
    }
    th {
      @include font-settings("Text-header-th");
    }
    td {
      @include font-settings("Text-header-td");
    }
  }
  // Table Footer Global
  tfoot {
    @include font-settings("Text-footer-td");
    color: $table-footer-color;
    @extend %border-color-main;

    tr {
      @extend %border-color-main;
    }
    th,
    td {
      @extend %border-color-main;
    }
    th {
      @include font-settings("Text-footer-th");
    }
    td {
      @include font-settings("Text-footer-td");
    }
  }
  caption {
    font-size: 10px;
    text-align: left;
    padding: 10px 20px;
    letter-spacing: 0px;
    color: black;
  }
}
