@mixin generateStripedHL($area, $ColOrRow, $name, $colorUnder) {
  @if ($ColOrRow == "col") {
    table.striped-col-#{$area}-#{$name} {
      t#{$area} {
        td:nth-child(#{$name}),
        th:nth-child(#{$name}) {
          background: darken($colorUnder, $stiped-col-effect-value);
        }
      }
    }
  }
  @if ($ColOrRow == "row") {
    table.striped-row-#{$name} {
      t#{$area} {
        tr:nth-child(#{$name}) {
          background: $table-main-striped;
        }
      }
      @if ($area == "body") {
        &.hl-first-col {
          tbody {
            tr:nth-child(#{$name}) {
              &:nth-child(#{$name}) {
                th:first-child,
                td:first-child {
                  background: darken($colorUnder, $stiped-row-effect-value);
                }
              }
            }
          }
        }
      }
    }
  }
}