@mixin generateTypeOfExtended($Args) {
  $extend: map-get($Args, $__EXTEND__);
  $data: map-get($Args, $__DATA__);

  $extendedSelectors: ();
  @each $key, $value in $data {
    @if $key != null {
      $Selector: formatSelector($key, $Args);
      $styleName: ($Selector);
      $extendedSelectors: append(
        $extendedSelectors,
        glueSelectorName($styleName...),
        "comma"
      );
    }
  }

  @include formatGenTypeOfExtended($extendedSelectors, $extend);
}

@mixin formatGenTypeOfExtended($Selector, $properties_list) {
  #{$Selector} {
    @each $propName, $propValue in $properties_list {
      #{$propName}: #{$propValue};
    }
  }
}
