@mixin generateTypeOfExtended($Args) {
  $data: map-get($Args, $__DATA__);
  $extend: map-get($Args, $__EXTEND__);
  $AllSelectors: ();
  @if $data != null {
    @each $key, $_ in $data {
      $currentSelector: ();
      @if $key != null {
        $Selector: formatSelector($key, $Args);
        $currentSelector: append($currentSelector, $Selector);
        $AllSelectors: append($AllSelectors, $currentSelector, "comma");
      }
    }
    @include checkForReservedProperties($AllSelectors, $extend, $Args);
  }
}

@mixin checkForReservedProperties($AllSelectors, $props, $Args) {
  $isMq: map-get($Args, $__MQ__);


  @if (type-of($props) != "map") {$props: ()}
  $respHas: map-has-key($props, $__RES__);
  $respValue: map-get($props, $__RES__);

  @if ($isMq == "") {
    @if ($respHas != true) or ($respValue != only) {
      @include formatGenTypeOfExtended($AllSelectors, $props, $Args);
    }
  } @else {
    @if ($respValue == true) or ($respValue == only) {
      @include formatGenTypeOfExtended($AllSelectors, $props, $Args);
    }
  }
  
}

@mixin formatGenTypeOfExtended($AllSelectors, $props, $Args) {
  #{$AllSelectors} {
    @each $propName, $propValue in $props {
      @if $propName != $__RES__ {
        #{$propName}: #{$propValue};
      }
    }
  }
}
