@mixin generateTypeOfList($Args) {
  $propName: map-get($Args, $__PROPPERTY__);
  $data: map-get($Args, $__DATA__);

  @each $key_index, $propValue in $data {
    $Selector: formatSelector($key_index, $Args);

    @if (type-of($propValue) == "string") {
        @include formatGenTypeOfList($Selector, $propName, $propValue);
    }

    @if (type-of($propValue) == "list") {
      @include formatGenTypeOfList($Selector, $propName, nth($propValue, 1));
    }
  }
}

@mixin formatGenTypeOfList($Selector, $propName, $propValue) {
  #{$Selector} {
    #{$propName}: #{$propValue};
  }
}



