$custom-padding: (
  "1": 0 20px,
  "2": 0 30px,
  "3": 0 40px,
  "4": 0 30px,
  "5": 0 40px,
);

$custom-margin: (
  "1": 0 10px,
  "2": 10px 0px,
  "3": 0 30px,
  "4": 0 40px,
  "5": 0 50px,
  "1-btn": 0 10px,
  "2-btn": 22px 0px,
);

$text-align: (
  "left": left,
  "right": right,
  "center": center,
  "justify": justify,
);

$verical-align: ();

$opacity: (
  "0": 0,
  "25": 0.25,
  "50": 0.5,
  "75": 0.75,
  "100": 1,
);

$word-break: (
  "normal": normal,
  "break-all": break-all,
  "keep-all": keep-all,
  "break-word": break-word,
);
