// Core shortNames
$__COMP__:        "component";
$__STATUS__:      "status";

// High level
$__TYPE__:        "type";
$__SEL__:         "sel";
$__SELTYPE__:     "seltype";
$__DATA__:        "data";
$__PROPPERTY__:   "prop";
$__EXTEND__:      "extend";
$__START__:       "start";
$__END__:         "end";
$__EXP__:         "exp";

// Types of components
$__LIST__:        "list";
$__COMPONENT__:   "component";
$__CYCLE__:       "cycle";
// Params in data and extend
$__RES__:         "responsible";

// Other and short names
$__MQ__:          "isMq";



