@function checkComponentBeforeRender($data) {
    $type:        map-get($data, $__TYPE__);
    $start:       map-get($data, $__START__);
    $end:         map-get($data, $__END__);

    $name:        map-get($data, $__NAME__);
    $prop:        map-get($data, $__PROPPERTY__);
    $module:      map-get($data, module);
    $innerData:   map-get($data, $__DATA__);

    @if $type == null {
      @if $start != null and $end != null {
        $type: $__CYCLE__;
      }
      @if $data != null {
        $type: $__BLOCK__;
      }
      @if $prop != null and $data != null {
        $type: $__LIST__;
      }
      @if $module != null and $data != null {
        $type: $__MODULE__;
      }
      @if $name != null and $data != null {
        $type: $__ANIMATION__;
      }
    }
    $data:  map-merge($data, (
        $__TYPE__:        $type,
        $__INPUT__:       $data, 
        $__DATA__:        $innerData, 
        $__PROPPERTY__:   $prop, 
        module:           $module, 
      ));

    @return $data
}