@mixin Core($DATA, $MQ: "", $API_LIST: $COMPONENTS) {
  @each $compName, $compStatus in $DATA {
    @if $compStatus != false {
      @if map-has-key($API_LIST, $compName) {
        $resource:  map-get($API_LIST, $compName);
        $type:      map-get($resource, $__TYPE__);
        
        $resource:  map-merge($resource, (
            $__MQ__:      toString($MQ),
            $__COMP__:    $compName,
            $__STATUS__:  $compStatus,
            input:        $resource,
          ));

        @if ($type != __BOOST__) {
          // Params to share with other functions as argument
          $Args: getApiData($resource);

          // Generate Extended Selectors
          @include generateTypeOfExtended($Args);

          @if ($type == $__SIMPLE__) or ($type == null) {
            @include generateTypeOfSimple($Args);
          }

          // Generate One Property Selectors
          @if ($type == $__LIST__) {
            @include generateTypeOfList($Args);
          }

          // Generate Component Selectors
          @if ($type == $__BLOCK__) {
            @include generateTypeOfBlock($Args);
          }

          // Generate Cycle Based Selectors
          @if ($type == $__CYCLE__) {
            @include generateTypeOfCycle($Args);
          }

          // Generate Animations
          @if ($type == $__ANIMATION__) {
            @include generateTypeOfAnimation($Args);
          }

          // Generate Modules
          @if ($type == $__MODULE__) {
            @include generateTypeOfModule($Args);
          }
        }
      }
    }
  }
}
