@mixin Core($DATA, $MQ: "", $API_LIST: $CSS_PROPERTIES_LIST) {
  $isMq: checkMQ($MQ);
  @each $key, $status in $DATA {
    @if $status != false {
      @if map-has-key($API_LIST, $key) {
        $resource: map-get($API_LIST, $key);
        $type: map-get($resource, $__TYPE__);

        // Params to share with other functions as argument
        $args: getApiData($resource, $isMq, $key, $status);

        // Generate Extended Selectors
        @include generateTypeOfExtended($args);

        // Generate One Property Selectors
        // @if (map-has-key($resource, $__TYPE__) == false) or ($type == $__LIST__)
        @if ($type == $__LIST__) {
          @include generateTypeOfList($args);
        }

        // Generate Component Selectors
        @if ($type == $__COMPONENT__) {
          @include generateTypeOfComponent($args);
        }

        // Generate Cycle Based Selectors: > next step (future)
        // Generate Nested Selectors: > (future)
      }
    }
  }
}
