@mixin Core($DATA, $MQ: "", $API_LIST: $COMPONENTS) {
  @each $compName, $compStatus in $DATA {
    @if $compStatus != false {
      @if map-has-key($API_LIST, $compName) {
        $Args:  map-get($API_LIST, $compName);
        $Args:  map-merge($Args, (
          $__MQ__:      toString($MQ),
          $__COMP__:    $compName,
          $__STATUS__:  $compStatus,
        ));

        $Args:  checkComponentBeforeRender($Args);
        $type:      map-get($Args, $__TYPE__);

        @if ($type != __BOOST__) {
           // Generate Extended Selectors
          @include generateTypeOfExtended($Args);

          @if ($type == $__SIMPLE__) {
            @include generateTypeOfSimple($Args);
          }

          @if ($type == $__LIST__) {
               @include generateTypeOfList($Args);
          }

          @if ($type == $__BLOCK__) {
            @include generateTypeOfBlock($Args);
          }

          @if ($type == $__CYCLE__) {
            @include generateTypeOfCycle($Args);
          }

          @if ($type == $__ANIMATION__) {
            @include generateTypeOfAnimation($Args);
          }

          @if ($type == $__MODULE__) {
            @include generateTypeOfModule($Args);
          }
        }
      }
    }
  }
}
