@function getApiData($RES_ARR) {
  $result: (
    $__COMP__:        map-get($RES_ARR, $__COMP__),
    $__STATUS__:      map-get($RES_ARR, $__STATUS__),

    $__MQ__:          map-get($RES_ARR, $__MQ__),
    $__TYPE__:        map-get($RES_ARR, $__TYPE__),
    $__DATA__:        map-get($RES_ARR, $__DATA__),
    $__SEL__:         getAttribute($RES_ARR, $__SEL__, ""),
    $__SELTYPE__:     getAttribute($RES_ARR, $__SELTYPE__, null),
    $__EXTEND__:      map-get($RES_ARR, $__EXTEND__),
    $__PROPPERTY__:   getAttribute($RES_ARR, $__PROPPERTY__, map-get($RES_ARR, $__COMP__)),
    $__TO__:          getAttribute($RES_ARR, $__TO__, ""),
    $__GROUP__:       getAttribute($RES_ARR, $__GROUP__, false),
    $__NAME__:       getAttribute($RES_ARR, $__NAME__, ""),
  
    $__RES__:         map-get($RES_ARR, $__RES__),
    $__START__:       map-get($RES_ARR, $__START__),
    $__END__:         map-get($RES_ARR, $__END__),
    $__EXP__:         map-get($RES_ARR, $__EXP__),
    );

  @return $result;
}
