@mixin globalChecks($checkFromData, $Args) {
    $respHas:       map-has-key($checkFromData, $__RES__);
    $respValue:     map-get($checkFromData, $__RES__);   
    $isMq:          map-get($Args, $__MQ__);

    @if ($isMq == "") {
      @if ($respHas != true) or ($respValue != only) {
        @include runComponentGenerator($Args);
      }
    } @else {
      @if ($respValue == true) or ($respValue == only) {
        @include runComponentGenerator($Args);
      } @else {
        @each $mqKey in $respValue {
          @if $mqKey == $isMq {
            @include runComponentGenerator($Args);
          }
        }
      }
    }
  }
  
