@import "bin/mixin";

@import "components/table-normal"; 
@import "components/table-fonts"; 

$COMPONENTS: map-merge(
  $COMPONENTS,
  (
    "module-table-borders": (
        module: "createTableBorder",
        data: (
//                  tableArea   type
         "pr1":     ("body",     "row"),
         "pr2":     ("body",     "col"),
         "pr3":     ("body",     "inner"),
         "pr4":     ("body",     "wrapper"),
         "pr5":     ("head",     "row"),
         "pr6":     ("head",     "col"),
         "pr7":     ("head",     "inner"),
         "pr8":     ("head",     "wrapper"),
         "pr9":     ("foot",     "row"),
         "pr20":    ("foot",     "col"),
         "pr11":    ("foot",     "inner"),
         "pr12":    ("foot",     "wrapper"),
        ),
    ),
    "module-table-highlight": (
        module: "createHighlight",
        data: (
//              tableArea   type    nth()
         "pr1": ("body",     "col",  "1" ),
         "pr2": ("body",     "col",  "2n"),
         "pr3": ("head",     "row",  "3n"),
         "pr4": ("body",     "row",  "2n"),
        ),
    ),
    "module-table-paddings": (
        module: "createTablePaddings",
        data: (
//              name        tbody   ?tHead  ?tFoot
         "pr1": ("slim",     20px,   20px,   "40px 1rem"),
         "pr2": ("extra",    30px,   30px,   100px),
         "pr3": ("minimal",  10px,   10px,   10px),
        ),
    ),
  )
);
