// Core shortNames
$__COMP__: "component";
$__STATUS__: "status";

// High level
$__TYPE__: "type";
$__SEL__: "sel";
$__SELTYPE__: "st";
$__DATA__: "data";
$__PROPPERTY__: "prop";
$__EXTEND__: "extend";
$__START__: "start";
$__END__: "end";

$__INPUT__: "input";
// Types of components
$__SIMPLE__: "simple";
$__BLOCK__: "block"; // or null
$__LIST__: "list";
$__CYCLE__: "cycle";
$__ANIMATION__: "animation";
$__MODULE__: "module";
// pseudo types
$__BOOST__: "boost";

// only for Boost
$__TO__: "to";

// only for Animation
$__GROUP__: "group";
$__NAME__: "name";

// Params in data and extend
$__RES__: "mq";

// Other and short names
$__MQ__: "hasMQ";
$__SE__: "SecondaryElement";
$__SELECTOR__: "Selector";
$__ALLSELECTORS__: "AllSelector";

// Selector Types
$__DEFAULT__: "Default";
$__FROM__: "from";
