$COMPONENTS: map-merge(
  $COMPONENTS,
  (
    "typography-headings": (
      start: 1,
      end: 6,
      sel: "h",
      st: t,
      font-size: "headingsSize",
      extend: (
        line-height: 100%,
        margin: 0,
        font-weight: 600,
      ),
    ),
  )
);