%sub-sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

b,
strong {
  font-weight: bold;
}

dfn,
u {
  font-style: italic;
}

small {
  font-size: 80%;
}

big {
  font-size: 120%;
}

sup {
  @extend %sub-sup;
  top: -0.5em;
}

sub {
  @extend %sub-sup;
  bottom: -0.5em;
}
