$COMPONENTS: map-merge(
  $COMPONENTS,
  (
    "typography-sub-sub": (
      st: "-t-t",
      data: (
        "sup": (
          top: -0.5em,
        ),
        "sub": (
          bottom: -0.5em,
        ),
      ),
      extend: (
        font-size: 75%,
        line-height: 0,
        position: relative,
        vertical-align: baseline,
      ),
    ),
    "typography-text-styling": (
      st: "-t-t",
      data: (
        "b, strong": (
          font-weight: bold,
        ),
        "dfn, u": (
          font-style: italic,
        ),
        "small": (
          font-size: 80%,
        ),
        "big": (
          font-size: 120%,
        ),
      ),
    ),
  )
);
