*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // background-color: $global-bg;
  font-family:  'Noto Sans', sans-serif;
  font-size: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
